body{
    background: #E5D7A6;    
}
.imagembanner{
    width: 1500px;
    height: 700px;
    opacity: 0.5;
    position: absolute;
    border-radius: 5%;
}
.espaço{
    text-align: center;
    padding: 0px;
    padding-top: 20px;
}
a{
    color: black;
    font-weight: bold;
    text-decoration: none;
    }
a:hover{
    color: #F7941D;
}
.links {
    display: inline-block;
    font-size: 20px;
    padding: 15px;
    padding-top: 20px;
    position: relative; 
}
.agendamento{
    text-align: center;
    margin: 30px;
    font-size: 30px;
    text-transform: uppercase;
    position: relative;
    background-color: aliceblue;
    margin-left: 420px;
    margin-right: 420px;
}
.agendaaberta{
    margin: 100px;
    margin-top: 150px;
    color: #B31545;
    font-weight: bold;
    font-size: 50px;
}
.sobremim{
    margin-top: 400px;
    background:#87CEFA;
    padding: 10px;
    margin-bottom: 10px;
}
#nome{
    text-transform: uppercase;
    color: #B31545;
    text-align: center;
    font-size: 70px;
}
.sobre{
    display:inline-block;
    padding: 20px;
    width: 50%;
    font-size: 20px;
    vertical-align: top;
    padding-top: 35px;
    padding-left: 70px;
}
.foto1{
    height: 400px;
    display:inline-block;
    padding-left: 200px;
    padding-bottom: 38px;
    border-radius: 5%;
}
.port{
    text-align: center;
    padding: 30px;
}
#confiraport{
    font-size: 50px;
    text-transform: uppercase;
 }
.portfolio{
    display: inline-block;
}
.tattoo{
    display: inline-block;
    padding: 10px;
    width: 300px;
    height: 300px;
    text-align: center;
    border-radius: 10%;
}
.local{
    padding: 15px;
    background-color: #87CEFA;
    padding-bottom: 100px;
}
#localização{
    text-align: center;
    padding: 15px;
    font-size: 50px;
}
.textlocal{
    width: 467px;
    padding: 30px;
    font-size: 20px;
    display: inline-block;
    margin-right: 200px;
    margin-left: 70px;
    margin-top: 75px;
    display: inline-block;
}
.mapa{
    width: 400px;
    height: 300px;
    vertical-align: top;
    border-radius: 5%;
}
.rodape{
    width: 260px;
    height: 180;
}
footer{
    text-align: center;
    padding: 30px;
}
